page-meu-endereco {
    .cidade-span-style {
        color: #000;
        font-size: 14px;
        float: right;
    }
    .cidade-dropdown-icon-cidade-disable {
        font-size: 18px;
        color: #D6D6D6;
    }
    .cidade-dropdown-icon-cidade-enable {
        font-size: 18px;
        color: #999;
    }
    .cidade-dropdown-icon-cidade {
        font-size: 18px;
        color: #999;
    }
    .cidade-label-style-enable {
        color: #999;
        font-size: 13px;
    }
    .cidade-label-style-disable {
        color: #D6D6D6;
        font-size: 13px;
    }
    .disableDiv {
        pointer-events: none;
    }

}
