<ion-header>

    <ion-navbar color="navBar">
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title style="margin-top: 8px;">
            <span>Meu endereço</span>
        </ion-title>
    </ion-navbar>

</ion-header>

<ion-content>
    <form [formGroup]="enderecoUsuarioForm" (ngSubmit)="submeterEnderecoUsuario()">

        <ion-item>
            <ion-label stacked>Cep</ion-label>
            <ion-input formControlName="cepEndereco" [(ngModel)]="enderecoEntity.cepEndereco" maxLength="10"></ion-input>
        </ion-item>
        <div *ngIf="!enderecoUsuarioForm.get('cepEndereco').valid && enderecoUsuarioForm.get('cepEndereco').touched" [ngClass]="'class-error-form'">campo obrigatório</div>
        <div *ngIf="enderecoUsuarioForm.get('cepEndereco').hasError('maxlength')" [ngClass]="'class-error-form'">máximo 10 caracteres</div>

        <ion-item>
            <ion-label stacked>Rua</ion-label>
            <ion-input formControlName="endereco" [(ngModel)]="enderecoEntity.endereco" maxLength="200"></ion-input>
        </ion-item>
        <div *ngIf="!enderecoUsuarioForm.get('endereco').valid && enderecoUsuarioForm.get('endereco').touched" [ngClass]="'class-error-form'">campo obrigatório</div>
        <div *ngIf="enderecoUsuarioForm.get('endereco').hasError('maxlength')" [ngClass]="'class-error-form'">máximo 200 caracteres</div>

        <ion-item>
            <ion-label stacked>Número</ion-label>
            <ion-input formControlName="numeroEndereco" [(ngModel)]="enderecoEntity.numeroEndereco" maxLength="11"></ion-input>
        </ion-item>
        <div *ngIf="!enderecoUsuarioForm.get('numeroEndereco').valid && enderecoUsuarioForm.get('numeroEndereco').touched" [ngClass]="'class-error-form'">campo obrigatório</div>
        <div *ngIf="enderecoUsuarioForm.get('numeroEndereco').hasError('maxlength')" [ngClass]="'class-error-form'">máximo 11 caracteres</div>

        <ion-item>
            <ion-label stacked>Complemento</ion-label>
            <ion-input formControlName="complementoEndereco" [(ngModel)]="enderecoEntity.complementoEndereco" maxLength="50"></ion-input>
        </ion-item>
        <div *ngIf="enderecoUsuarioForm.get('complementoEndereco').hasError('maxlength')" [ngClass]="'class-error-form'">máximo 50 caracteres</div>

        <ion-item>
            <ion-label stacked>Bairro</ion-label>
            <ion-input formControlName="bairro" [(ngModel)]="enderecoEntity.bairro" maxLength="100"></ion-input>
        </ion-item>
        <div *ngIf="!enderecoUsuarioForm.get('bairro').valid && enderecoUsuarioForm.get('bairro').touched" [ngClass]="'class-error-form'">campo obrigatório</div>
        <div *ngIf="enderecoUsuarioForm.get('bairro').hasError('maxlength')" [ngClass]="'class-error-form'">máximo 100 caracteres</div>

        <ion-list>
            <ion-item>
                <ion-label class="my-label">Estado</ion-label>
                <ion-select formControlName="idEstado" [(ngModel)]="enderecoEntity.idEstado" class="cidade-span-style" (ionChange)="getIdEstado($event)" cancelText="Cancelar">
                    <ion-option *ngFor="let estado of estados" value="{{estado.idEstado}}">{{estado.nome}}</ion-option>
                </ion-select>
            </ion-item>
            <div *ngIf="!enderecoUsuarioForm.get('idEstado').valid && enderecoUsuarioForm.get('idEstado').touched" [ngClass]="'class-error-form'">campo obrigatório</div>
        </ion-list>

        <ion-list>
            <ion-item>

                <div [ngClass]="{'disableDiv': !idEstado}">
                    <p (click)="showModalCidades()" class="my-label">
                        <span class="my-label label label-md" [ngClass]="{'cidade-label-style-disable': !idEstado, 'cidade-label-style-enable': idEstado}">Cidades </span>
                        <span class="cidade-span-style"> {{dadosCidades.cidade}}
                    <ion-icon name="arrow-dropdown" [ngClass]="{'cidade-dropdown-icon-cidade-disable': !idEstado, 'cidade-dropdown-icon-cidade-enable': idEstado}"></ion-icon>
                </span>
                    </p>
                </div>

            </ion-item>
            <div *ngIf="enderecoUsuarioForm.valid && enderecoUsuarioForm.get('idCidade').touched && idCidade == undefined" [ngClass]="'class-error-form'">campo obrigatório</div>
        </ion-list>

        <div padding>
            <button ion-button block type="submit" color="navBar" class="margin-button-save span-style-color">SALVAR</button>
        </div>

    </form>

</ion-content>