<ion-header>

    <ion-navbar color="navBar">
        <button ion-button menuToggle>
                <ion-icon ios="ios-arrow" md="md-arrow"></ion-icon>
                </button>
        <ion-title>
            Login
        </ion-title>
    </ion-navbar>

</ion-header>

<ion-content padding class="content-stable">

    <form [formGroup]="loginForm" (ngSubmit)="submeterLogin()">

        <ion-item class="content-stable">
            <ion-label stacked color="secondary-grey">E-mail</ion-label>
            <ion-input formControlName="email" type="email" placeholder="Ex.: email@email.com" spellcheck="false" autocapitalize="off"></ion-input>
        </ion-item>
        <div *ngIf="(!loginForm.get('email').valid && loginForm.get('email').touched) && !loginForm.get('email').hasError('pattern')" [ngClass]="'class-error-form-login'">campo obrigatório</div>
        <div *ngIf="loginForm.get('email').hasError('pattern')" [ngClass]="'class-error-form-login'">e-mail inválido</div>

        <ion-item style="background: #E8E8E8">
            <ion-label stacked color="secondary-grey">Senha</ion-label>
            <ion-input formControlName="senha" id="senha" type="text" *ngIf="showPwd" placeholder="Digite sua senha"></ion-input>
            <ion-input formControlName="senha" id="senha" type="password" *ngIf="!showPwd" placeholder="Digite sua senha"></ion-input>
            <button icon-only ion-button clear type="button" item-right color="dark" (click)="showPwd=!showPwd">
                <ion-icon *ngIf="showPwd" name="eye"></ion-icon>
                <ion-icon *ngIf="!showPwd" name="eye-off"></ion-icon>
            </button>
        </ion-item>
        <div *ngIf="!loginForm.get('senha').valid && loginForm.get('senha').touched" [ngClass]="'class-error-form-login'">campo obrigatório</div>


        <button ion-button block type="submit" color="navBar" style="color: #fff; margin-top: 20px;">ENTRAR</button>
    </form>

    <button ion-button full icon-left (click)="doFbLogin();" style="margin-top: 10px;" class="facebook-button-color">
        <ion-icon name="logo-facebook"></ion-icon>ENTRAR COM O FACEBOOK
    </button>

    <!-- <button ion-button block icon-left style="background-color: #1A237E; margin-top: 20px;" (click)="doFbLogin()">
        ENTRAR COM O FACEBOOK
    </button> -->

    <div class="forgot-pass-style-div">
        <a (click)="goRecuperarSenha()" style="color: #484848;" class="botao01">Esqueci minha senha</a>
    </div>

    <div padding>
        <p>
            <span class="span-inscrever">
                    Ainda não tem conta? <span style="float: right;"><strong style="color: #1E7F41;" (click)="criarConta()">INSCREVER-SE</strong></span>
            </span>
        </p>
    </div>

    <p class="paragrafo-termos">
        Ao continuar, você concorda com nossos <span class="span-termos" (click)="openModalTermos()">Termos e Condições</span> e com nossa <span class="span-termos" (click)="openModalPolitica()">Política de Privacidade</span>
    </p>

</ion-content>