<ion-header>

    <ion-navbar color="navBar">
        <button ion-button menuToggle>
                    <ion-icon name="menu"></ion-icon>
                </button>
        <ion-title style="margin-top: 8px;">
            <span>{{ nomeSubGrupo }}</span>
        </ion-title>
    </ion-navbar>

</ion-header>

<ion-content class="content-stable">
    <ion-list>
        <!-- <ion-item *ngFor="let produto of produtosList" text-wrap (click)="openProdutosPorLojaListPage(produto.idProduto)"> -->
        <ion-item *ngFor="let produto of produtosList" text-wrap (click)="validaUsuario(produto.idProduto)" [ngClass]="{'disableClick': !produto.disponivel || !idUsuarioLogado}">
            <ion-avatar item-start>

                <img *ngIf="!produto.imagem" src="assets/imgs/no-photo.png" style="width: 60px; height: 60px;" />
                <img *ngIf="produto.imagem" src="{{produto.imagem}}" style="width: 60px; height: 60px;" />
            </ion-avatar>
            <span>{{ produto.marca }}</span>
            <p style="font-size: 1.3rem;">{{ produto.produto }}</p>

            <div *ngIf="produto.disponivel && idUsuarioLogado && isCadastroCompleto">
                <span style="color: #656565;">A partir de: </span>
                <span style="color: #0c60ee; margin-top: 13px;">{{ produto.apartirDe | currency:'R$ ':2}}</span>
            </div>
            <div *ngIf="(isCadastroCompleto && !produto.disponivel) && idUsuarioLogado">
                <span style="color: #234ED8; font-size: 13px;">Produto indisponível</span>
            </div>
            <div *ngIf="isCadastroCompleto == false && idUsuarioLogado">
                <span style="color: #234ED8; font-size: 13px;">Finalize seu cadastro para ver os preços na sua cidade </span>
            </div>
            <div *ngIf="!idUsuarioLogado">
                <span style="color: #234ED8; font-size: 13px;">Efetue login para ver os preços na sua cidade </span>
            </div>

        </ion-item>
    </ion-list>

    <ion-infinite-scroll (ionInfinite)="loadMore($event)">
        <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>

</ion-content>