<ion-header>

    <ion-navbar color="navBar">
        <button ion-button menuToggle>
                    <ion-icon name="menu"></ion-icon>
                </button>
        <ion-title style="margin-top: 8px;">
            <span>Lojas disponíveis</span>
        </ion-title>
    </ion-navbar>

</ion-header>

<ion-content>
    <div text-wrap *ngIf="dadosProduto?.length > 0">

        <ion-item>
            <ion-thumbnail item-start>
                <img *ngIf="!imagemProduto" src="assets/imgs/no-photo.png" style="width: 80px; height: 80px;" />
                <img *ngIf="imagemProduto" src="{{ imagemProduto }}" style="width: 80px; height: 80px;" imageViewer/>
            </ion-thumbnail>
            <h4>{{ nomeProduto }}</h4>
            <p><span style="color: #999;">A partir de:</span> <span style="color: #0c60ee; font-size: 13px;">{{ menorValor | currency:'BRL' }}</span></p>
        </ion-item>

        <ion-card-content>
            <ion-item style="text-align: center;" *ngIf="idUsuario">
                <p><span style="color: #0c60ee; font-size: 12px;"> O produto foi encontrado nas lojas abaixo</span></p>
                <!-- <p><span style="white-space: normal;color: #69717d;font-size: 12px;"> O valor da entrega pode mudar dependendo da quantidade de itens no pedido</span></p> -->
            </ion-item>
        </ion-card-content>


    </div>
    <ion-list>
        <ion-item *ngFor="let produto of dadosProduto" text-wrap (click)="openDetalheProdutoPage(produto.idProduto, produto.idFornecedor)">
            <h3 style="color: #69717d;">{{ produto.nomeFantasiaFornecedor }}</h3>
            <h4 style="height: 20px;color: #69717d;">A partir de:
                <span style="color: #0c60ee; font-size: 13px;"> {{ produto.valor | currency:'BRL' }}</span>
                <span style="height: 20px; font-size: 13px; float: right;" *ngIf="produto.valorFrete">Frete: {{ produto.valorFrete | currency:'BRL' }}</span>
                <span style="height: 20px;color: #0c60ee; font-size: 13px; float: right;" *ngIf="produto.valorFrete == null || produto.valorFrete == 0">Entrega grátis!</span>
            </h4>
            
            <p>
                <span style="height: 20px; font-size: 13px;" [ngClass]="{false:'corVermelha', true:'corVerde'}[produto.isAtendimento]">
                    <ion-icon ios="ios-alarm" md="md-alarm" style="font-size: 18px;"></ion-icon> {{ produto.horarioAtendimento }}
                </span>
            </p>
        </ion-item>
    </ion-list>

</ion-content>