<ion-header>
    <ion-navbar color="navBar">
      <ion-title>
          <span>Selecione o serviço</span>
      </ion-title>
    </ion-navbar>
  </ion-header>

  <ion-content class="content-stable">
      <div class="h2-color-cards" text-wrap padding style="margin-top: 50px;" *ngIf="servicosPrecoList?.length == 0">
          <div style="text-align: center;color: #484848;"><strong>Não encontramos nenhum registro</strong></div>
          <div style="text-align: center;">
              <ion-icon style="font-size: 30px;color: #484848;" ios="ios-sad" md="md-sad"></ion-icon>
          </div>
      </div>

      <div text-wrap *ngIf="servicosPrecoList?.length > 0" style="text-align: center;">
        <p>
            <ion-icon ios="ios-information-circle" md="md-information-circle" class="text-indicativo-icon"></ion-icon>
            <span class="text-indicativo">Serviços adicionais poderão ser incluídos <br>depois que você selecionar a loja</span>
        </p>
      </div>

        <!-- <ion-card style="border: 2px solid yellow; text-align: center;" *ngIf="servicosPrecoList?.length > 0">
            <ion-card-content>
                <p style="text-align: center;" ><span class="text-produto">Serviços adicionais poderão ser incluídos mais à frente</span></p>
            </ion-card-content>
        </ion-card> -->

      <ion-list>
          <ion-item *ngFor="let servico of servicosPrecoList" text-wrap (click)="validaCadastroUsuario(servico.idProduto)" 
              [ngClass]="{'disableClick': !servico.disponivel || !idUsuarioLogado || isCadastroEnderecoCompleto == 'false'}">
              <ion-avatar item-start>
                  <img *ngIf="!servico.imagem" src="assets/imgs/no-photo.png" />
                  <img *ngIf="servico.imagem" src="{{ servico.imagem }}"/>
              </ion-avatar>
              <!-- <span>{{ servico.marca }}</span> -->
              <p style="font-size: 1.3rem; font-weight: 500">{{ servico.produto }}</p>
  
              <div *ngIf="servico.disponivel && idUsuarioLogado && isCadastroCompleto == 'true'">
                  <span style="color: #656565;">A partir de: </span>
                  <span class="span-style-listas">{{ servico.apartirDe | currency:'BRL' }}</span>
              </div>
                  <div *ngIf="(isCadastroCompleto == 'true' && !servico.disponivel && isCadastroEnderecoCompleto == 'true') && idUsuarioLogado">
                  <span class="span-style-listas">servico indisponível</span>
              </div>
  
              <div *ngIf="isCadastroEnderecoCompleto == 'false' && idUsuarioLogado">
                  <span class="span-style-listas">Complete seu endereço para ver os preços na sua cidade </span>
              </div>
              <div *ngIf="!idUsuarioLogado">
                  <span class="span-style-listas">Efetue login para ver os preços na sua cidade </span>
              </div>
  
          </ion-item>
      </ion-list>

    <ion-infinite-scroll (ionInfinite)="loadMore($event)" *ngIf="canLoadMore">
        <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>

</ion-content>
