page-home {
    ion-scroll[scrollX] {
        white-space: nowrap;
        height: 120px;
        overflow: hidden;
        .scroll-item {
            display: inline-block;
        }
        .selectable-icon {
            margin: 10px 20px 10px 20px;
            color: red;
            font-size: 100px;
        }
        ion-avatar img {
            margin: 10px;
        }
    }
    ion-scroll[scroll-avatar] {
        height: 60px;
    }
    /* Hide ion-content scrollbar */
     ::-webkit-scrollbar {
        display: none;
    }
    .icon-slide-card {
        width: 150px;
        height: 50px!important;
        margin-top: 10px;
        margin-bottom: 5px;
    }
    .style-box-home {
        background-color: #623592;
        color: #fff;
        margin: 5px;
        border-radius: 4px;
    }
    .width-slides {
        width: 35%!important;
    }
    .card-style {
        // width: 30%;
        // height: 100px;
        border-radius: 10px;
    }
    .font-card-style {
        font-weight: 500;
        color: #484848;
    }
}