page-modal-indique-e-ganhe {
    .style-box-home {
        background-color: #623592;
        margin: 5px;
        border-radius: 4px;
        height: 40%;
        display: flex;
        align-items: center;
    }

    .icon-convid {
        font-size: 50px;
    }
    .div-style {
        text-align: center; 
        font-size: 16px;
        color: #fff;
    }
    .div-indique {
        text-align: center;
        padding: 5px; 
        font-size: 16px;
    }
    .div-validade {
        text-align: center;
        font-size: 10px;
    }

}
