page-home {
    ion-scroll[scrollX] {
        white-space: nowrap;
        height: 120px;
        overflow: hidden;
        .scroll-item {
            display: inline-block;
        }
        .selectable-icon {
            margin: 10px 20px 10px 20px;
            color: red;
            font-size: 100px;
        }
        ion-avatar img {
            margin: 10px;
        }
    }
    ion-scroll[scroll-avatar] {
        height: 60px;
    }
    /* Hide ion-content scrollbar */
     ::-webkit-scrollbar {
        display: none;
    }
    .icon-slide-card {
        width: 150px;
        height: 50px!important;
        margin-top: 10px;
        margin-bottom: 5px;
    }
    .style-box-home {
        background-color: #623592;
        color: #fff;
        margin: 5px;
        border-radius: 4px;
    }
    .width-slides {
        width: 33%!important;
        margin-right: -15px;
    }
    .card-style {
        border-radius: 5px;
        width: 80px;
    }
    .card-style-banho {
        border-radius: 5px;
        width: 84px;
    }
    .font-card-style {
        font-weight: 600;
        color: #999999;
        // color: #484848;
    }
    .div-style-publicidade {
        min-width: 325px;
        min-height: 180px;
    }
    #conteudo {
        background-size: 100%;
        background-size: cover;
        background-repeat: no-repeat;
    }
    #conteudo>img {
        width: 100%;
        height: 100%;
    }

    .center {
        text-align: center;
        line-height: 190px;
    }

    .card-title {
        text-align: center;
    }

    // DESCOMENTAR ISSO PARA A VERSÃO 2. DIMINUI A ALTURA DO SLIDE DE PUBLICIDADE E ABRE MAIS ESPAÇO NA TELA.
    .swiper-container {
        width: 100%;
        height: 200px;
    }
    .ion-slide-margin {
        margin-top: -50px;
    }
    //**********************

    // configuração do ion-scroll
    .table {
        display: table;
        border-collapse: separate;
        border-spacing: 5px;
        width: 550px;
      }
      
      .row { display:table-row; }
      
      .cell {
        display:table-cell;
        padding:5px;
      }
      // FIM da configuração do ion-scroll

    // .slide-zoom {
	// 	height: 100%;
    // }
    
    // ion-slides {
    //     height: 50%;
    // }

    // .img-style {
    //     max-width: 240px;
    //     width: auto;
    // }






    // .card-background-page {

    //     ion-card {
    //         position: relative;
    //         text-align: center;
    //     }
        
    // }

}
