<ion-header>

    <ion-navbar color="navBar">
        <ion-title>Meus dados</ion-title>
    </ion-navbar>

</ion-header>

<ion-content>
    <form [formGroup]="dadosUsuarioForm" (ngSubmit)="submeterDadosUsuario()" style="margin-top: -14px;">

        <ion-item-divider class="item-divider-style">
            <b style="color: #000">Dados pessoais</b>
            <div item-content>
                <ion-icon ios="ios-person" md="md-person" item-start style="color: #000"></ion-icon>
            </div>
        </ion-item-divider>

        <ion-item>
            <ion-label stacked>Nome</ion-label>
            <ion-input formControlName="nomePessoa" color="dark" [(ngModel)]="usuarioDetalheEntity.nomePessoa" type="text" spellcheck="false" autocapitalize="off" autocomplete="off" autocorrect="off"></ion-input>
        </ion-item>
        <div *ngIf="!dadosUsuarioForm.get('nomePessoa').valid && dadosUsuarioForm.get('nomePessoa').touched" [ngClass]="'class-error-form'">campo obrigatório</div>
        <div *ngIf="dadosUsuarioForm.get('nomePessoa').hasError('maxlength')" [ngClass]="'class-error-form'">máximo 100 caracteres</div>

        <ion-item>
            <ion-label stacked>Cpf</ion-label>
            <ion-input formControlName="cpfPessoa" [(ngModel)]="usuarioDetalheEntity.cpfPessoa" type="text" maxlength="14" spellcheck="false" autocapitalize="off" autocomplete="off" autocorrect="off"></ion-input>
        </ion-item>
        <div *ngIf="!dadosUsuarioForm.get('cpfPessoa').valid && dadosUsuarioForm.get('cpfPessoa').touched" [ngClass]="'class-error-form'">campo obrigatório</div>
        <div *ngIf="dadosUsuarioForm.get('cpfPessoa').hasError('maxlength')" [ngClass]="'class-error-form'">máximo 14 caracteres</div>

        <ion-item>
            <ion-label stacked>E-mail</ion-label>
            <ion-input formControlName="emailUsuario" [(ngModel)]="usuarioDetalheEntity.emailUsuario" type="email" [readonly]="isReadOnly"></ion-input>
        </ion-item>
        <div *ngIf="(!dadosUsuarioForm.get('emailUsuario').valid && dadosUsuarioForm.get('emailUsuario').touched) && !dadosUsuarioForm.get('emailUsuario').hasError('pattern')" [ngClass]="'class-error-form'">campo obrigatório</div>
        <div *ngIf="dadosUsuarioForm.get('emailUsuario').hasError('pattern')" [ngClass]="'class-error-form'">E-mail inválido</div>

        <ion-item>
            <ion-label stacked>Telefone</ion-label>
            <ion-input formControlName="telefonePessoa" [(ngModel)]="usuarioDetalheEntity.telefonePessoa" type="text"></ion-input>
        </ion-item>
        <div *ngIf="dadosUsuarioForm.get('telefonePessoa').hasError('maxlength')" [ngClass]="'class-error-form'">máximo 50 caracteres</div>

        <div *ngIf="!idUsuarioLogado">
            <ion-item-divider class="item-divider-style">
                <b style="color: #000">Minha senha</b>
                <div item-content>
                    <ion-icon ios="ios-lock" md="md-lock" item-start style="color: #000"></ion-icon>
                </div>
            </ion-item-divider>

            <ion-item>
                <ion-label stacked>Senha</ion-label>
                <ion-input formControlName="senhaUsuario" id="senhaUsuario" [(ngModel)]="usuarioDetalheEntity.senhaUsuario" type="password"></ion-input>
            </ion-item>
            <div *ngIf="!dadosUsuarioForm.get('senhaUsuario').valid && dadosUsuarioForm.get('senhaUsuario').touched" [ngClass]="'class-error-form'">campo obrigatório</div>

            <ion-item>
                <ion-label stacked>Confirmar senha</ion-label>
                <ion-input type="password" id="confirmSenha" formControlName="confirmSenha" [(ngModel)]="usuarioDetalheEntity.confirmSenha"></ion-input>
            </ion-item>
            <div [ngClass]="'class-error-form'" *ngIf="(!dadosUsuarioForm.get('confirmSenha').valid && dadosUsuarioForm.get('confirmSenha').touched) && dadosUsuarioForm.controls.confirmSenha.errors?.MatchPassword">as senhas não conferem</div>
        </div>

        <div padding>
            <button ion-button block type="submit" color="navBar" class="margin-button-save span-style-color">SALVAR</button>
        </div>
    </form>

</ion-content>