<ion-header>

    <ion-navbar color="navBar">
        <button ion-button menuToggle>
                  <ion-icon name="menu"></ion-icon>
              </button>
        <ion-title style="margin-top: 8px;">
            <span style="font-size: 17px;">Buscar produtos ou lojas</span>
        </ion-title>
    </ion-navbar>
    <ion-searchbar (search)="getProdutoByNomeList($event.srcElement.value)" placeholder="Buscar produtos ou lojas"></ion-searchbar>

</ion-header>

<ion-content class="content-stable">

    <ion-list>
        <ion-item *ngFor="let produto of produtosList" text-wrap (click)="openProdutosPorLojaListPage(produto.idProduto)"
            [ngClass]="{'disableClick': !produto.disponivel || !idUsuarioLogado || isCadastroEnderecoCompleto =='false'}">
            <ion-thumbnail item-start>
                <img *ngIf="!produto.imagem" src="assets/imgs/no-photo.png" />
                <img *ngIf="produto.imagem" src="{{produto.imagem}}" class="largura-thumbnail" imageViewer/>
            </ion-thumbnail>
            <h4>{{ produto.marca }}</h4>
            <p>{{ produto.produto }}</p>

            <div *ngIf="produto.disponivel && idUsuarioLogado && isCadastroCompleto == 'true' && isCadastroEnderecoCompleto == 'true'">
                    <span style="color: #656565;">A partir de: </span>
                    <span class="span-style-listas">{{ produto.apartirDe | currency:'BRL' }}</span>
                </div>
                <div *ngIf="(isCadastroCompleto == 'true' && !produto.disponivel && isCadastroEnderecoCompleto == 'true') && idUsuarioLogado">
                    <span class="span-style-listas">Produto indisponível</span>
                </div>
                <!-- <div *ngIf="isCadastroCompleto == 'false' && isCadastroEnderecoCompleto == 'true' && idUsuarioLogado">
                    <span style="color: #234ED8; font-size: 13px;">Complete seus dados pessoais para continuar </span>
                </div> -->

                <!-- <div *ngIf="isCadastroCompleto == 'true' && isCadastroEnderecoCompleto == 'false' && idUsuarioLogado"> -->
                <div *ngIf="isCadastroEnderecoCompleto == 'false' && idUsuarioLogado">
                    <span class="span-style-listas">Complete seu endereço para ver os preços na sua cidade </span>
                </div>
                <!-- <div *ngIf="isCadastroCompleto == 'false' && isCadastroEnderecoCompleto == 'false' && idUsuarioLogado">
                    <span style="color: #234ED8; font-size: 13px;">Complete seus dados pessoais e endereço para ver os preços na sua cidade </span>
                </div> -->
                <div *ngIf="!idUsuarioLogado">
                    <span class="span-style-listas">Efetue login para ver os preços na sua cidade </span>
                </div>
        </ion-item>
    </ion-list>

    <ion-infinite-scroll (ionInfinite)="loadMore($event)" *ngIf="canLoadMore">
        <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>
</ion-content>