<ion-header>

    <ion-navbar color="navBar">
        <button ion-button menuToggle>
                    <ion-icon name="menu"></ion-icon>
                </button>
        <ion-title style="margin-top: 8px; font-size: 16px;">
            <span>Selecione o grupo</span>
        </ion-title>
        <ion-buttons end>
            <button ion-button icon-only (click)="showFilter = !showFilter">
                    <ion-icon ios="ios-search" md="md-search"></ion-icon>
                </button>
        </ion-buttons>
    </ion-navbar>

</ion-header>

<ion-content class="content-stable">
    <ion-searchbar (ionInput)="getItems($event)" *ngIf="showFilter" placeholder="Buscar"></ion-searchbar>
    <ion-list>
        <button ion-item *ngFor="let grupo of gruposList" text-wrap (click)="openSubGruposList(grupo.idGrupo)">
              <p>{{ grupo.grupo }}</p>
          </button>
    </ion-list>

</ion-content>