<ion-header>

    <ion-navbar color="navBar">
        <button ion-button menuToggle>
                  <ion-icon name="menu"></ion-icon>
              </button>
        <ion-title style="margin-top: 8px;">
            <span>Detalhes</span>
        </ion-title>
    </ion-navbar>

</ion-header>

<ion-content>
    <ion-card text-wrap *ngIf="produtoFornecedorDetalheEntity.nomeProduto">
        <ion-card-header>
            <p>
                <span style="color: #484848">
                <b>{{ produtoFornecedorDetalheEntity.nomeFornecedor }}</b>
            </span>
            <!-- <span style="float: right; font-size: 14px; color: #FFB400" (click)="openModalAvaliarFornecedor(produtoFornecedorDetalheEntity.idFornecedor)">Avaliar Loja</span> -->
            </p>
            <p>
                <span style="color: #999">
                    {{ produtoFornecedorDetalheEntity.enderecoFornecedor }} 
                </span>
            </p>
            <!-- <p>
                <rating style="color: #FFB400" [(ngModel)]="fornecedorEntity.avaliacao" readOnly="true" max="5" emptyStarIconName="star-outline" halfStarIconName="star-half" starIconName="star" nullable="false"></rating>
            </p>
            <p *ngIf="!fornecedorEntity.avaliacao">
                Avaliação: <b style="color: #FFB400">Novo</b>
            </p>
            <p *ngIf="fornecedorEntity.avaliacao">
                Avaliação: {{ fornecedorEntity.avaliacao }}
                <ion-icon ios="ios-star" md="md-star" style="color: #FFB400"></ion-icon>
            </p> -->
        </ion-card-header>
        <hr class="hr10">
        <ion-card-content>
            <!-- <hr class="hr"> -->
            <p style="margin-top: 10px;">
                <span>{{ produtoFornecedorDetalheEntity.nomeProduto }}</span>
            </p>
            <p>
                <span style="color: #999">{{ produtoFornecedorDetalheEntity.marca }}</span>
            </p>

            <p>
                <span style="color: #999">
                    <ion-icon ios="ios-heart" md="md-heart" style="float: right; font-size: 24px;" 
                        [ngClass]="{false:'corCinza', true:'corVermelha'}[showIcon]"
                        (click)="adicionaRemoveFavoritoDetalhes(produtoFornecedorDetalheEntity.idProduto, produtoFornecedorDetalheEntity.idFavoritos)">
                    </ion-icon>
                </span>
            </p>


            <img src="{{ produtoFornecedorDetalheEntity.imagem }}" class="imagem-detalhes-produto" imageViewer/>
        </ion-card-content>
        
        <ion-card-content>
            <hr class="hr">

            <ion-list radio-group >
                <ion-item *ngFor="let medida of medidasVenda, let i = index" style="padding-left: 0px;">
                    <ion-radio item-left checked="{{i == 0}}" value="{{medida.unidadeProduto}}" (ionSelect)="calculoIdProdutoFornecedor(medida.idProdutoFornecedor)"></ion-radio>
                    <ion-label color="primary">
                        <span>{{ medida.unidadeProduto }}</span>
                        <span *ngIf="medida.disponivel" class="span-medidas">{{ medida.valor | currency:'R$ ':2 }}</span>
                        <span *ngIf="!medida.disponivel" class="span-medidas-ind">Indisponível</span>
                    </ion-label>
    
                </ion-item>
            </ion-list>
                <hr class="hr">

                <div style="text-align: right; margin-top: 20px;">
                    <button ion-button icon-only item-end color="danger" round (click)="subtrairProduto();" 
                        style="width: 20px; height: 20px;">
                        <ion-icon name="remove"></ion-icon>
                    </button>

                    <button ion-button clear 
                        style="width: 20px; height: 20px;">
                        <span style="line-height: 45px; color:#234ED8;"> {{ quantidade }} </span>
                    </button>

                    <button ion-button icon-only item-end color="secondary" round (click)="addProduto();" 
                        style="width: 20px; height: 20px;">
                        <ion-icon name="add"></ion-icon>
                    </button>    
                </div>

                <div style="margin-top: 20px;">
                    <p style="color:#69717d;">Frete:
                        <span class="span-style" *ngIf="valorFrete">{{ valorFrete | currency:'BRL' }}</span>
                        <span class="span-style" *ngIf="valorFrete == null || valorFrete == 0">Entrega grátis!</span>
                    </p>
                    <!-- <hr class="hr"> -->

                    <div>
                        <p class="p-style-total">Total:
                            <span class="span-style" *ngIf="produtoFornecedorEntity.valorTotal && estaDisponivel">{{ produtoFornecedorEntity.valorTotal | currency:'BRL' }}</span>
                            <span class="span-style" *ngIf="!produtoFornecedorEntity.valorTotal && estaDisponivel">{{ valorInicial | currency:'BRL' }}</span>
                            <span class="span-style" *ngIf="!estaDisponivel">R$ ---</span>
                        </p>
                    </div>
                </div>


                <!-- <ion-grid>
                    <ion-row>
                        <ion-col col-2>
                            <button ion-button icon-only item-end color="danger" round (click)="subtrairProduto(idProdutoFornecedorInicial);" 
                                style="width: 20px; height: 20px;">
                                <ion-icon name="remove"></ion-icon>
                            </button>
                        </ion-col>
                        <ion-col col-2>
                            <span style="line-height: 45px; color:#234ED8;"> {{ quantidade }} </span>
                        </ion-col>
                        <ion-col col-2>
                            <button ion-button icon-only item-end color="secondary" round (click)="addProduto(idProdutoFornecedorInicial);" 
                                style="width: 20px; height: 20px;">
                                <ion-icon name="add"></ion-icon>
                            </button>
                        </ion-col>
                        </ion-row>
                    </ion-grid> -->

            <!-- </div> -->
            <!-- <div class="row" style="height: 60px;">
                <div class="col col-50">
                  <p style="color:#69717d;">Total:
                    <span style="color:#234ED8;" ng-if="retornoCalculo.valorTotal && estaDisponivel">{{ retornoCalculo.valorTotal | currency:'R$ ':2}}</span>
                    <span style="color:#234ED8;" ng-if="!retornoCalculo.valorTotal && estaDisponivel">{{ valorInicial | currency:'R$ ':2}}</span>
                    <span style="color:#234ED8;" ng-if="!estaDisponivel">R$ ---</span>
                  </p>
                </div>
                  <div class="row label-money" style="margin-top: -20px;">
                    <div class="col" style="text-align: center;">
                      <button class="button icon ion-minus-circled red" style="background-color: #fff;"
                        ng-click="subtrairProduto(idProdutoFornecedorInicial);">
                      </button>
                    </div>
                    <div class="col" style="text-align: center;width: 30px;"><span style="line-height: 45px;color:#234ED8;"> {{quantidade}} </span></div>
                    <div class="col" style="text-align: center;">
                      <button class="button icon ion-plus-circled green" style="background-color: #fff;"
                        ng-click="addProduto(idProdutoFornecedorInicial);">
                      </button>
                    </div>
                  </div>
              </div> -->
        </ion-card-content>
        <ion-card-content>
            <hr class="hr">
            <div style="margin-bottom: 40px;">
                <p><span style="color: #999">Detalhes</span></p>
                <p>
                    <span>{{ produtoFornecedorDetalheEntity.descricao }}</span>
                </p>

            </div>
        </ion-card-content>
    </ion-card>

</ion-content>

<ion-footer *ngIf="produtoFornecedorDetalheEntity.nomeProduto" style="background-color: #fff;">
    <ion-grid>
        <ion-row>
            <ion-col no-padding>
                <button no-margin ion-button full icon-end color="secondary-color" (click)="validaProdutoIndisponivel(idProdutoFornecedorInicial)">
                    <span class="span-style-color">ADICIONAR AO CARRINHO</span>
                </button>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-footer>