<ion-header>

    <ion-navbar color="navBar">
        <button ion-button menuToggle>
                  <ion-icon name="menu"></ion-icon>
              </button>
        <ion-title style="margin-top: 8px;">
            <span>Meu endereço</span>
        </ion-title>
    </ion-navbar>

</ion-header>

<ion-content>
    <form [formGroup]="enderecoUsuarioForm" (ngSubmit)="submeterEnderecoUsuario()">

        <ion-item>
            <ion-label stacked>Endereço</ion-label>
            <ion-input formControlName="endereco" [(ngModel)]="usuarioDetalheEntity.endereco" maxLength="300"></ion-input>
        </ion-item>
        <div *ngIf="!enderecoUsuarioForm.get('endereco').valid && enderecoUsuarioForm.get('endereco').touched" [ngClass]="'class-error-form'">campo obrigatório</div>
        <div *ngIf="enderecoUsuarioForm.get('endereco').hasError('maxlength')" [ngClass]="'class-error-form'">máximo 300 caracteres</div>

        <ion-list>
            <ion-item>
                <ion-label class="my-label">Estado</ion-label>
                <ion-select formControlName="idEstado" [(ngModel)]="usuarioDetalheEntity.idEstado" (ionChange)="getCidadesByEstadoUsuario(usuarioDetalheEntity.idEstado)" cancelText="Cancelar">
                    <ion-option *ngFor="let estado of estados" value="{{estado.idEstado}}">{{estado.nome}}</ion-option>
                </ion-select>
            </ion-item>
            <div *ngIf="!enderecoUsuarioForm.get('idEstado').valid && enderecoUsuarioForm.get('idEstado').touched" [ngClass]="'class-error-form'">campo obrigatório</div>
        </ion-list>

        <ion-list>
            <ion-item>
                <ion-label class="my-label">Cidade</ion-label>
                <ion-select formControlName="idCidade" [(ngModel)]="usuarioDetalheEntity.idCidade" cancelText="Cancelar">
                    <ion-option *ngFor="let cidade of cidades" value="{{cidade.idCidade}}">{{cidade.cidade}}</ion-option>
                </ion-select>
            </ion-item>
            <div *ngIf="!enderecoUsuarioForm.get('idCidade').valid && enderecoUsuarioForm.get('idCidade').touched" [ngClass]="'class-error-form'">campo obrigatório</div>
        </ion-list>

        <div padding>
            <button ion-button block type="submit" color="navBar" class="margin-button-save span-style-color">SALVAR</button>
        </div>

    </form>


</ion-content>