<ion-header>

    <ion-navbar color="navBar">
        <button ion-button menuToggle>
                    <ion-icon name="menu"></ion-icon>
                </button>
        <ion-title>
            <span>Pagamento</span>
        </ion-title>
    </ion-navbar>

</ion-header>

<ion-content>

    <ion-list radio-group>
        <ion-item class="item-divider-style" style="margin-top: 0px;">
            <h3 style="color: #999;"><i class="icon icon-delivery"> </i> Tipo de entrega </h3>
        </ion-item>
        
        <ion-item *ngFor="let tipo of tipoEntrega">
            <ion-label>{{ tipo.nomeTipoEntrega }}</ion-label>
            <ion-radio checked="{{ tipo.checked }}" value="{{ tipo.idTipoEntrega }}" (ionSelect)="radioChecked(tipo.idTipoEntrega)"></ion-radio>
        </ion-item>
    </ion-list>

    <ion-list radio-group>
        <ion-item class="item-divider-style" style="margin-top: 0px;">
                <h3 style="color: #999;"><i class="icon icon-wallet"> </i> Forma de pagamento </h3>
        </ion-item>
            
        <ion-item *ngFor="let formaPag of formaPagamento">
            <ion-label>{{ formaPag.nomeFormaPagamento }}</ion-label>
            <ion-radio value="{{ formaPag.idFormaPagamento }}" (click)="getFormaPagamento(formaPag.idFormaPagamento)"></ion-radio>
        </ion-item>
    </ion-list>
    <div *ngIf="classError" [ngClass]="'class-error-form'">Informe a forma de pagamento</div>
        
    <div padding style="padding-top: 1px;">
        <p *ngIf="idFormaPagamento == 0">
            <span style="font-size: 13px;" >Cartão selecionado:</span> <span style="color: green; font-size: 14px; text-transform: lowercase;">{{ dadosTipoPagamento.nomeTipoPagamento }}</span>
        </p>
        <p *ngIf="idFormaPagamento == 1 && troco != 0">
            <span style="font-size: 13px;">Troco selecionado:</span> <span style="color: green; font-size: 14px;">{{ troco | currency:'BRL' }}</span>
        </p>
        <p *ngIf="idFormaPagamento == 1 && troco == 0">
            <span style="font-size: 13px;">Troco selecionado:</span> <span style="color: green; font-size: 14px;">Não preciso de troco</span>
        </p>

        <div><hr></div>
        
        <p style="color: #999;">* O pagamento online ainda não está disponível</p>
    </div>
        
</ion-content>

<!-- <ion-footer *ngIf="meusPedidoEntity.idPedido != 0 && idUsuarioLogado " > -->
<ion-footer>
    <ion-grid>
        <ion-row>
            <ion-col no-padding>
                <button no-margin ion-button full icon-end color="secondary-color" (click)="confirmaEnvioPedido()">
                    <span class="span-style-color">FAZER PEDIDO</span>
                </button>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-footer>
