page-pagamento {
    .tipo-pagamento-span-style {
        color: #000;
        font-size: 12px;
        float: right;
    }
    .tipo-pagamento-dropdown-icon {
        font-size: 18px;
        color: #999
    }
    .tipo-pagamento-label-style {
        color: #999;
        font-size: 13px;
    }

}
