<ion-header>

    <ion-navbar color="navBar">
        <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
      </button>
        <ion-title style="margin-top: 8px; font-size: 16px;">
            <span>Últimos pedidos</span>
        </ion-title>
    </ion-navbar>

</ion-header>

<ion-content class="content-stable">
    <div class="h2-color-cards" text-wrap padding style="margin-top: 50px;" *ngIf="pedidosList?.length == 0">
        <div style="text-align: center;color: #484848;"><strong>Você ainda não possui nenhum pedido</strong></div>
        <div padding>
            <button ion-button block color="navBar" class="margin-button-save span-style-color" (click)="goHome()">COMECE A COMPRAR</button>
        </div>
    </div>
    <ion-list>
        <button ion-item *ngFor="let pedido of pedidosList" text-wrap (click)="openPedidoDetalhePage(pedido.idPedido)">
              <p>{{ pedido.nomeFantasiaFornecedor }}</p>
              <p>{{ pedido.dataPedidoFormat }}</p>
              <p> Status do pedido: <span [ngClass]="{Concluido:'corVerde', Pendente:'corAzul', Aberto:'corLaranja'}[pedido.statusPedido]"> {{ pedido.statusPedido }}</span></p>
          </button>
    </ion-list>

</ion-content>