<ion-header>

    <ion-navbar color="navBar">
        <button ion-button menuToggle>
                <ion-icon ios="ios-arrow" md="md-arrow"></ion-icon>
                </button>
        <ion-title>
            Login
        </ion-title>
    </ion-navbar>

</ion-header>

<ion-content padding class="content-stable">

    <!-- <div>
        <img src="assets/imgs/logo.png" class="logo-style">
    </div> -->

    <form [formGroup]="loginForm" (ngSubmit)="submeterLogin()">

        <ion-item class="content-stable">
            <ion-label stacked color="secondary-grey">E-mail</ion-label>
            <!-- <ion-input [(ngModel)]="usuarioEntity.login" formControlName="login" type="email" placeholder="Ex.: nome@email.com" spellcheck="false" autocapitalize="off"></ion-input> -->
            <ion-input formControlName="email" type="email" placeholder="Ex.: nome@email.com" spellcheck="false" autocapitalize="off"></ion-input>
        </ion-item>
        <div *ngIf="(!loginForm.get('email').valid && loginForm.get('email').touched) && !loginForm.get('email').hasError('pattern')" [ngClass]="'class-error-form-login'">campo obrigatório</div>
        <div *ngIf="loginForm.get('email').hasError('pattern')" [ngClass]="'class-error-form-login'">e-mail inválido</div>

        <ion-item style="background: #E8E8E8">
            <ion-label stacked color="secondary-grey">Senha</ion-label>
            <ion-input formControlName="senha" id="senha" type="text" *ngIf="showPwd" placeholder="Digite sua senha"></ion-input>
            <ion-input formControlName="senha" id="senha" type="password" *ngIf="!showPwd" placeholder="Digite sua senha"></ion-input>
            <button icon-only ion-button clear type="button" item-right color="dark" (click)="showPwd=!showPwd">
                <ion-icon *ngIf="showPwd" name="eye"></ion-icon>
                <ion-icon *ngIf="!showPwd" name="eye-off"></ion-icon>
            </button>
            <!-- <ion-input formControlName="senha" type="password" placeholder="Digite sua senha"></ion-input> -->
        </ion-item>
        <div *ngIf="!loginForm.get('senha').valid && loginForm.get('senha').touched" [ngClass]="'class-error-form-login'">campo obrigatório</div>


        <button ion-button block type="submit" color="navBar" style="color: #fff; margin-top: 20px;">ENTRAR</button>
        <!-- <button ion-button block type="submit" color="navBar" style="margin-top: 30px;">ENVIAR</button> -->
    </form>

    <button ion-button block icon-left style="background-color: #1A237E; margin-top: 20px;">
            <!-- <ion-icon name="home"></ion-icon> -->
        ENTRAR COM O FACEBOOK
    </button>

    <div class="forgot-pass-style-div">
        <a (click)="goRecuperarSenha()" style="color: #484848; margin-top: 20px;" class="botao01">Esqueci minha senha</a>
    </div>

    <div class="forgot-pass-style-div" style="margin-top: 20px; color: #484848; margin: 20px;">
        Não tem cadastro ainda?
        <a (click)="criarConta()" class="botao01" style="font-size: 14px;">Criar conta</a>
    </div>


</ion-content>