page-carrinho {
    // .item-md.item-block .item-inner {
    //     padding-right: 8px;
    //     border-top: 1px solid #dedede;
    //     border-bottom: 1px solid #dedede;
    // }
    .style-button-add-remove {
        width: 20px; 
        height: 20px;
    }

    .item ion-thumbnail {
        min-width: 5rem;    
        min-height: 5rem;
        img {
            // max-width: 6rem;    
            // min-width: 5rem;
            width: 60px; 
            height: 60px;
        }
    }

}
